---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user?access_token=<GITHUB_USER_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4965'
      X-Ratelimit-Reset:
      - '1494462771'
      Etag:
      - W/"1a48158827036080ad552de337ca6aa6"
      Last-Modified:
      - Mon, 08 May 2017 16:39:51 GMT
      X-Oauth-Scopes:
      - admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook,
        delete_repo, gist, notifications, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"caward12","id":20826865,"avatar_url":"https://avatars3.githubusercontent.com/u/20826865?v=3","gravatar_id":"","url":"https://api.github.com/users/caward12","html_url":"https://github.com/caward12","followers_url":"https://api.github.com/users/caward12/followers","following_url":"https://api.github.com/users/caward12/following{/other_user}","gists_url":"https://api.github.com/users/caward12/gists{/gist_id}","starred_url":"https://api.github.com/users/caward12/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/caward12/subscriptions","organizations_url":"https://api.github.com/users/caward12/orgs","repos_url":"https://api.github.com/users/caward12/repos","events_url":"https://api.github.com/users/caward12/events{/privacy}","received_events_url":"https://api.github.com/users/caward12/received_events","type":"User","site_admin":false,"name":"Colleen
        Ward","company":"@turingschool","blog":"","location":"Denver, CO","email":"ward.colleen.a@gmail.com","hireable":true,"bio":"Back-End
        Engineering Student","public_repos":38,"public_gists":17,"followers":3,"following":1,"created_at":"2016-08-03T23:33:01Z","updated_at":"2017-05-08T16:39:51Z","private_gists":1,"total_private_repos":0,"owned_private_repos":0,"disk_usage":538,"collaborators":0,"two_factor_authentication":false,"plan":{"name":"free","space":976562499,"collaborators":0,"private_repos":0}}'
  recorded_at: Thu, 11 May 2017 00:26:04 GMT
- request:
    method: get
    uri: https://api.github.com/users/caward12/events?access_token=<GITHUB_USER_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4964'
      X-Ratelimit-Reset:
      - '1494462771'
      Etag:
      - W/"2f7d0aa4ef2bb130d4cd9ed56ebfbc67"
      Last-Modified:
      - Wed, 10 May 2017 20:07:59 GMT
      X-Poll-Interval:
      - '60'
      X-Oauth-Scopes:
      - admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook,
        delete_repo, gist, notifications, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/20826865/events?access_token=<GITHUB_USER_TOKEN>&page=2>;
        rel="next", <https://api.github.com/user/20826865/events?access_token=<GITHUB_USER_TOKEN>&page=10>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"5848114253","type":"PullRequestEvent","actor":{"id":20826865,"login":"caward12","display_login":"caward12","gravatar_id":"","url":"https://api.github.com/users/caward12","avatar_url":"https://avatars.githubusercontent.com/u/20826865?"},"repo":{"id":90675897,"name":"caward12/apicurious","url":"https://api.github.com/repos/caward12/apicurious"},"payload":{"action":"opened","number":2,"pull_request":{"url":"https://api.github.com/repos/caward12/apicurious/pulls/2","id":119967419,"html_url":"https://github.com/caward12/apicurious/pull/2","diff_url":"https://github.com/caward12/apicurious/pull/2.diff","patch_url":"https://github.com/caward12/apicurious/pull/2.patch","issue_url":"https://api.github.com/repos/caward12/apicurious/issues/2","number":2,"state":"open","locked":false,"title":"User
        profile","user":{"login":"caward12","id":20826865,"avatar_url":"https://avatars3.githubusercontent.com/u/20826865?v=3","gravatar_id":"","url":"https://api.github.com/users/caward12","html_url":"https://github.com/caward12","followers_url":"https://api.github.com/users/caward12/followers","following_url":"https://api.github.com/users/caward12/following{/other_user}","gists_url":"https://api.github.com/users/caward12/gists{/gist_id}","starred_url":"https://api.github.com/users/caward12/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/caward12/subscriptions","organizations_url":"https://api.github.com/users/caward12/orgs","repos_url":"https://api.github.com/users/caward12/repos","events_url":"https://api.github.com/users/caward12/events{/privacy}","received_events_url":"https://api.github.com/users/caward12/received_events","type":"User","site_admin":false},"body":"@jmejia
        - I refactored a bit and broke out repos and organizations as models since
        I think of them as different \"things\" than a github user - is this a good
        path to go down? ","created_at":"2017-05-10T20:07:59Z","updated_at":"2017-05-10T20:07:59Z","closed_at":null,"merged_at":null,"merge_commit_sha":null,"assignee":null,"assignees":[],"requested_reviewers":[],"milestone":null,"commits_url":"https://api.github.com/repos/caward12/apicurious/pulls/2/commits","review_comments_url":"https://api.github.com/repos/caward12/apicurious/pulls/2/comments","review_comment_url":"https://api.github.com/repos/caward12/apicurious/pulls/comments{/number}","comments_url":"https://api.github.com/repos/caward12/apicurious/issues/2/comments","statuses_url":"https://api.github.com/repos/caward12/apicurious/statuses/70552f0abc5cecca6b3ed820d7c3ba8110408664","head":{"label":"caward12:user_profile","ref":"user_profile","sha":"70552f0abc5cecca6b3ed820d7c3ba8110408664","user":{"login":"caward12","id":20826865,"avatar_url":"https://avatars3.githubusercontent.com/u/20826865?v=3","gravatar_id":"","url":"https://api.github.com/users/caward12","html_url":"https://github.com/caward12","followers_url":"https://api.github.com/users/caward12/followers","following_url":"https://api.github.com/users/caward12/following{/other_user}","gists_url":"https://api.github.com/users/caward12/gists{/gist_id}","starred_url":"https://api.github.com/users/caward12/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/caward12/subscriptions","organizations_url":"https://api.github.com/users/caward12/orgs","repos_url":"https://api.github.com/users/caward12/repos","events_url":"https://api.github.com/users/caward12/events{/privacy}","received_events_url":"https://api.github.com/users/caward12/received_events","type":"User","site_admin":false},"repo":{"id":90675897,"name":"apicurious","full_name":"caward12/apicurious","owner":{"login":"caward12","id":20826865,"avatar_url":"https://avatars3.githubusercontent.com/u/20826865?v=3","gravatar_id":"","url":"https://api.github.com/users/caward12","html_url":"https://github.com/caward12","followers_url":"https://api.github.com/users/caward12/followers","following_url":"https://api.github.com/users/caward12/following{/other_user}","gists_url":"https://api.github.com/users/caward12/gists{/gist_id}","starred_url":"https://api.github.com/users/caward12/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/caward12/subscriptions","organizations_url":"https://api.github.com/users/caward12/orgs","repos_url":"https://api.github.com/users/caward12/repos","events_url":"https://api.github.com/users/caward12/events{/privacy}","received_events_url":"https://api.github.com/users/caward12/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/caward12/apicurious","description":null,"fork":false,"url":"https://api.github.com/repos/caward12/apicurious","forks_url":"https://api.github.com/repos/caward12/apicurious/forks","keys_url":"https://api.github.com/repos/caward12/apicurious/keys{/key_id}","collaborators_url":"https://api.github.com/repos/caward12/apicurious/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/caward12/apicurious/teams","hooks_url":"https://api.github.com/repos/caward12/apicurious/hooks","issue_events_url":"https://api.github.com/repos/caward12/apicurious/issues/events{/number}","events_url":"https://api.github.com/repos/caward12/apicurious/events","assignees_url":"https://api.github.com/repos/caward12/apicurious/assignees{/user}","branches_url":"https://api.github.com/repos/caward12/apicurious/branches{/branch}","tags_url":"https://api.github.com/repos/caward12/apicurious/tags","blobs_url":"https://api.github.com/repos/caward12/apicurious/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/caward12/apicurious/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/caward12/apicurious/git/refs{/sha}","trees_url":"https://api.github.com/repos/caward12/apicurious/git/trees{/sha}","statuses_url":"https://api.github.com/repos/caward12/apicurious/statuses/{sha}","languages_url":"https://api.github.com/repos/caward12/apicurious/languages","stargazers_url":"https://api.github.com/repos/caward12/apicurious/stargazers","contributors_url":"https://api.github.com/repos/caward12/apicurious/contributors","subscribers_url":"https://api.github.com/repos/caward12/apicurious/subscribers","subscription_url":"https://api.github.com/repos/caward12/apicurious/subscription","commits_url":"https://api.github.com/repos/caward12/apicurious/commits{/sha}","git_commits_url":"https://api.github.com/repos/caward12/apicurious/git/commits{/sha}","comments_url":"https://api.github.com/repos/caward12/apicurious/comments{/number}","issue_comment_url":"https://api.github.com/repos/caward12/apicurious/issues/comments{/number}","contents_url":"https://api.github.com/repos/caward12/apicurious/contents/{+path}","compare_url":"https://api.github.com/repos/caward12/apicurious/compare/{base}...{head}","merges_url":"https://api.github.com/repos/caward12/apicurious/merges","archive_url":"https://api.github.com/repos/caward12/apicurious/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/caward12/apicurious/downloads","issues_url":"https://api.github.com/repos/caward12/apicurious/issues{/number}","pulls_url":"https://api.github.com/repos/caward12/apicurious/pulls{/number}","milestones_url":"https://api.github.com/repos/caward12/apicurious/milestones{/number}","notifications_url":"https://api.github.com/repos/caward12/apicurious/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/caward12/apicurious/labels{/name}","releases_url":"https://api.github.com/repos/caward12/apicurious/releases{/id}","deployments_url":"https://api.github.com/repos/caward12/apicurious/deployments","created_at":"2017-05-08T21:55:21Z","updated_at":"2017-05-08T21:56:53Z","pushed_at":"2017-05-10T19:53:43Z","git_url":"git://github.com/caward12/apicurious.git","ssh_url":"git@github.com:caward12/apicurious.git","clone_url":"https://github.com/caward12/apicurious.git","svn_url":"https://github.com/caward12/apicurious","homepage":null,"size":208,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":1,"forks":0,"open_issues":1,"watchers":0,"default_branch":"master"}},"base":{"label":"caward12:master","ref":"master","sha":"251b526f525d901d70486e5329e8ef9354d33ef5","user":{"login":"caward12","id":20826865,"avatar_url":"https://avatars3.githubusercontent.com/u/20826865?v=3","gravatar_id":"","url":"https://api.github.com/users/caward12","html_url":"https://github.com/caward12","followers_url":"https://api.github.com/users/caward12/followers","following_url":"https://api.github.com/users/caward12/following{/other_user}","gists_url":"https://api.github.com/users/caward12[...]
