---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/caward12/events?access_token=<GITHUB_USER_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4899'
      X-Ratelimit-Reset:
      - '1494525482'
      Etag:
      - W/"41c2e68e8527c740ac1bb1630de7ce11"
      Last-Modified:
      - Thu, 11 May 2017 16:29:20 GMT
      X-Poll-Interval:
      - '60'
      X-Oauth-Scopes:
      - admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook,
        delete_repo, gist, notifications, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/20826865/events?access_token=<GITHUB_USER_TOKEN>&page=2>;
        rel="next", <https://api.github.com/user/20826865/events?access_token=<GITHUB_USER_TOKEN>&page=10>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"5854758443","type":"ForkEvent","actor":{"id":20826865,"login":"caward12","display_login":"caward12","gravatar_id":"","url":"https://api.github.com/users/caward12","avatar_url":"https://avatars.githubusercontent.com/u/20826865?"},"repo":{"id":82723168,"name":"VictoriaVasys/black_thursday","url":"https://api.github.com/repos/VictoriaVasys/black_thursday"},"payload":{"forkee":{"id":91000787,"name":"black_thursday","full_name":"caward12/black_thursday","owner":{"login":"caward12","id":20826865,"avatar_url":"https://avatars3.githubusercontent.com/u/20826865?v=3","gravatar_id":"","url":"https://api.github.com/users/caward12","html_url":"https://github.com/caward12","followers_url":"https://api.github.com/users/caward12/followers","following_url":"https://api.github.com/users/caward12/following{/other_user}","gists_url":"https://api.github.com/users/caward12/gists{/gist_id}","starred_url":"https://api.github.com/users/caward12/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/caward12/subscriptions","organizations_url":"https://api.github.com/users/caward12/orgs","repos_url":"https://api.github.com/users/caward12/repos","events_url":"https://api.github.com/users/caward12/events{/privacy}","received_events_url":"https://api.github.com/users/caward12/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/caward12/black_thursday","description":null,"fork":true,"url":"https://api.github.com/repos/caward12/black_thursday","forks_url":"https://api.github.com/repos/caward12/black_thursday/forks","keys_url":"https://api.github.com/repos/caward12/black_thursday/keys{/key_id}","collaborators_url":"https://api.github.com/repos/caward12/black_thursday/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/caward12/black_thursday/teams","hooks_url":"https://api.github.com/repos/caward12/black_thursday/hooks","issue_events_url":"https://api.github.com/repos/caward12/black_thursday/issues/events{/number}","events_url":"https://api.github.com/repos/caward12/black_thursday/events","assignees_url":"https://api.github.com/repos/caward12/black_thursday/assignees{/user}","branches_url":"https://api.github.com/repos/caward12/black_thursday/branches{/branch}","tags_url":"https://api.github.com/repos/caward12/black_thursday/tags","blobs_url":"https://api.github.com/repos/caward12/black_thursday/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/caward12/black_thursday/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/caward12/black_thursday/git/refs{/sha}","trees_url":"https://api.github.com/repos/caward12/black_thursday/git/trees{/sha}","statuses_url":"https://api.github.com/repos/caward12/black_thursday/statuses/{sha}","languages_url":"https://api.github.com/repos/caward12/black_thursday/languages","stargazers_url":"https://api.github.com/repos/caward12/black_thursday/stargazers","contributors_url":"https://api.github.com/repos/caward12/black_thursday/contributors","subscribers_url":"https://api.github.com/repos/caward12/black_thursday/subscribers","subscription_url":"https://api.github.com/repos/caward12/black_thursday/subscription","commits_url":"https://api.github.com/repos/caward12/black_thursday/commits{/sha}","git_commits_url":"https://api.github.com/repos/caward12/black_thursday/git/commits{/sha}","comments_url":"https://api.github.com/repos/caward12/black_thursday/comments{/number}","issue_comment_url":"https://api.github.com/repos/caward12/black_thursday/issues/comments{/number}","contents_url":"https://api.github.com/repos/caward12/black_thursday/contents/{+path}","compare_url":"https://api.github.com/repos/caward12/black_thursday/compare/{base}...{head}","merges_url":"https://api.github.com/repos/caward12/black_thursday/merges","archive_url":"https://api.github.com/repos/caward12/black_thursday/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/caward12/black_thursday/downloads","issues_url":"https://api.github.com/repos/caward12/black_thursday/issues{/number}","pulls_url":"https://api.github.com/repos/caward12/black_thursday/pulls{/number}","milestones_url":"https://api.github.com/repos/caward12/black_thursday/milestones{/number}","notifications_url":"https://api.github.com/repos/caward12/black_thursday/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/caward12/black_thursday/labels{/name}","releases_url":"https://api.github.com/repos/caward12/black_thursday/releases{/id}","deployments_url":"https://api.github.com/repos/caward12/black_thursday/deployments","created_at":"2017-05-11T16:29:19Z","updated_at":"2017-02-27T19:00:38Z","pushed_at":"2017-03-02T15:39:27Z","git_url":"git://github.com/caward12/black_thursday.git","ssh_url":"git@github.com:caward12/black_thursday.git","clone_url":"https://github.com/caward12/black_thursday.git","svn_url":"https://github.com/caward12/black_thursday","homepage":null,"size":1865,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","public":true}},"public":true,"created_at":"2017-05-11T16:29:20Z"},{"id":"5854684073","type":"PushEvent","actor":{"id":20826865,"login":"caward12","display_login":"caward12","gravatar_id":"","url":"https://api.github.com/users/caward12","avatar_url":"https://avatars.githubusercontent.com/u/20826865?"},"repo":{"id":90675897,"name":"caward12/apicurious","url":"https://api.github.com/repos/caward12/apicurious"},"payload":{"push_id":1733814624,"size":14,"distinct_size":1,"ref":"refs/heads/master","head":"7ac734756c571770ad2d1df161989e336130a8a2","before":"251b526f525d901d70486e5329e8ef9354d33ef5","commits":[{"sha":"2566e2972fcb3a70f1f0a4e5e51c67930c03cc04","author":{"email":"ward.colleen.a@gmail.com","name":"caward12"},"message":"create
        test for user profile","distinct":false,"url":"https://api.github.com/repos/caward12/apicurious/commits/2566e2972fcb3a70f1f0a4e5e51c67930c03cc04"},{"sha":"02d50552b541c87c7e67185741f3dabf9d7ff47d","author":{"email":"ward.colleen.a@gmail.com","name":"caward12"},"message":"user
        profile picture","distinct":false,"url":"https://api.github.com/repos/caward12/apicurious/commits/02d50552b541c87c7e67185741f3dabf9d7ff47d"},{"sha":"8285935d055e000620c1661bef490e7cfd3b3f78","author":{"email":"ward.colleen.a@gmail.com","name":"cawar[...]
