---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/following?access_token=<GITHUB_USER_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4858'
      X-Ratelimit-Reset:
      - '1494447459'
      Etag:
      - W/"e1d8b60b3dd9f16ff0cb5b0382fdbc9b"
      X-Oauth-Scopes:
      - admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook,
        delete_repo, gist, notifications, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"TheKaterTot","id":1721599,"avatar_url":"https://avatars3.githubusercontent.com/u/1721599?v=3","gravatar_id":"","url":"https://api.github.com/users/TheKaterTot","html_url":"https://github.com/TheKaterTot","followers_url":"https://api.github.com/users/TheKaterTot/followers","following_url":"https://api.github.com/users/TheKaterTot/following{/other_user}","gists_url":"https://api.github.com/users/TheKaterTot/gists{/gist_id}","starred_url":"https://api.github.com/users/TheKaterTot/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/TheKaterTot/subscriptions","organizations_url":"https://api.github.com/users/TheKaterTot/orgs","repos_url":"https://api.github.com/users/TheKaterTot/repos","events_url":"https://api.github.com/users/TheKaterTot/events{/privacy}","received_events_url":"https://api.github.com/users/TheKaterTot/received_events","type":"User","site_admin":false}]'
  recorded_at: Wed, 10 May 2017 19:43:37 GMT
recorded_with: VCR 3.0.3
