---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user?access_token=<GITHUB_USER_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4922'
      X-Ratelimit-Reset:
      - '1494543503'
      Etag:
      - W/"44a80a75f5f50220e95677f6a8658858"
      Last-Modified:
      - Mon, 08 May 2017 16:39:51 GMT
      X-Oauth-Scopes:
      - admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook,
        delete_repo, gist, notifications, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"caward12","id":20826865,"avatar_url":"https://avatars3.githubusercontent.com/u/20826865?v=3","gravatar_id":"","url":"https://api.github.com/users/caward12","html_url":"https://github.com/caward12","followers_url":"https://api.github.com/users/caward12/followers","following_url":"https://api.github.com/users/caward12/following{/other_user}","gists_url":"https://api.github.com/users/caward12/gists{/gist_id}","starred_url":"https://api.github.com/users/caward12/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/caward12/subscriptions","organizations_url":"https://api.github.com/users/caward12/orgs","repos_url":"https://api.github.com/users/caward12/repos","events_url":"https://api.github.com/users/caward12/events{/privacy}","received_events_url":"https://api.github.com/users/caward12/received_events","type":"User","site_admin":false,"name":"Colleen
        Ward","company":"@turingschool","blog":"","location":"Denver, CO","email":"ward.colleen.a@gmail.com","hireable":true,"bio":"Back-End
        Engineering Student","public_repos":39,"public_gists":17,"followers":3,"following":1,"created_at":"2016-08-03T23:33:01Z","updated_at":"2017-05-08T16:39:51Z","private_gists":1,"total_private_repos":0,"owned_private_repos":0,"disk_usage":690,"collaborators":0,"two_factor_authentication":false,"plan":{"name":"free","space":976562499,"collaborators":0,"private_repos":0}}'
  recorded_at: Thu, 11 May 2017 22:20:19 GMT
- request:
    method: get
    uri: https://api.github.com/user/starred?access_token=<GITHUB_USER_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4921'
      X-Ratelimit-Reset:
      - '1494543503'
      Etag:
      - W/"845019b5a364e8c3ec9bb89c399cc4c2"
      X-Oauth-Scopes:
      - admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook,
        delete_repo, gist, notifications, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"id":85982696,"name":"bike-share","full_name":"caward12/bike-share","owner":{"login":"caward12","id":20826865,"avatar_url":"https://avatars3.githubusercontent.com/u/20826865?v=3","gravatar_id":"","url":"https://api.github.com/users/caward12","html_url":"https://github.com/caward12","followers_url":"https://api.github.com/users/caward12/followers","following_url":"https://api.github.com/users/caward12/following{/other_user}","gists_url":"https://api.github.com/users/caward12/gists{/gist_id}","starred_url":"https://api.github.com/users/caward12/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/caward12/subscriptions","organizations_url":"https://api.github.com/users/caward12/orgs","repos_url":"https://api.github.com/users/caward12/repos","events_url":"https://api.github.com/users/caward12/events{/privacy}","received_events_url":"https://api.github.com/users/caward12/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/caward12/bike-share","description":null,"fork":true,"url":"https://api.github.com/repos/caward12/bike-share","forks_url":"https://api.github.com/repos/caward12/bike-share/forks","keys_url":"https://api.github.com/repos/caward12/bike-share/keys{/key_id}","collaborators_url":"https://api.github.com/repos/caward12/bike-share/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/caward12/bike-share/teams","hooks_url":"https://api.github.com/repos/caward12/bike-share/hooks","issue_events_url":"https://api.github.com/repos/caward12/bike-share/issues/events{/number}","events_url":"https://api.github.com/repos/caward12/bike-share/events","assignees_url":"https://api.github.com/repos/caward12/bike-share/assignees{/user}","branches_url":"https://api.github.com/repos/caward12/bike-share/branches{/branch}","tags_url":"https://api.github.com/repos/caward12/bike-share/tags","blobs_url":"https://api.github.com/repos/caward12/bike-share/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/caward12/bike-share/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/caward12/bike-share/git/refs{/sha}","trees_url":"https://api.github.com/repos/caward12/bike-share/git/trees{/sha}","statuses_url":"https://api.github.com/repos/caward12/bike-share/statuses/{sha}","languages_url":"https://api.github.com/repos/caward12/bike-share/languages","stargazers_url":"https://api.github.com/repos/caward12/bike-share/stargazers","contributors_url":"https://api.github.com/repos/caward12/bike-share/contributors","subscribers_url":"https://api.github.com/repos/caward12/bike-share/subscribers","subscription_url":"https://api.github.com/repos/caward12/bike-share/subscription","commits_url":"https://api.github.com/repos/caward12/bike-share/commits{/sha}","git_commits_url":"https://api.github.com/repos/caward12/bike-share/git/commits{/sha}","comments_url":"https://api.github.com/repos/caward12/bike-share/comments{/number}","issue_comment_url":"https://api.github.com/repos/caward12/bike-share/issues/comments{/number}","contents_url":"https://api.github.com/repos/caward12/bike-share/contents/{+path}","compare_url":"https://api.github.com/repos/caward12/bike-share/compare/{base}...{head}","merges_url":"https://api.github.com/repos/caward12/bike-share/merges","archive_url":"https://api.github.com/repos/caward12/bike-share/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/caward12/bike-share/downloads","issues_url":"https://api.github.com/repos/caward12/bike-share/issues{/number}","pulls_url":"https://api.github.com/repos/caward12/bike-share/pulls{/number}","milestones_url":"https://api.github.com/repos/caward12/bike-share/milestones{/number}","notifications_url":"https://api.github.com/repos/caward12/bike-share/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/caward12/bike-share/labels{/name}","releases_url":"https://api.github.com/repos/caward12/bike-share/releases{/id}","deployments_url":"https://api.github.com/repos/caward12/bike-share/deployments","created_at":"2017-03-23T18:13:01Z","updated_at":"2017-05-10T00:36:19Z","pushed_at":"2017-03-23T06:59:33Z","git_url":"git://github.com/caward12/bike-share.git","ssh_url":"git@github.com:caward12/bike-share.git","clone_url":"https://github.com/caward12/bike-share.git","svn_url":"https://github.com/caward12/bike-share","homepage":null,"size":28299,"stargazers_count":1,"watchers_count":1,"language":"Ruby","has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":1,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}}]'
  recorded_at: Thu, 11 May 2017 22:20:19 GMT
recorded_with: VCR 3.0.3
