---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user?access_token=<GITHUB_USER_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4856'
      X-Ratelimit-Reset:
      - '1494543503'
      Etag:
      - W/"44a80a75f5f50220e95677f6a8658858"
      Last-Modified:
      - Mon, 08 May 2017 16:39:51 GMT
      X-Oauth-Scopes:
      - admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook,
        delete_repo, gist, notifications, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"caward12","id":20826865,"avatar_url":"https://avatars3.githubusercontent.com/u/20826865?v=3","gravatar_id":"","url":"https://api.github.com/users/caward12","html_url":"https://github.com/caward12","followers_url":"https://api.github.com/users/caward12/followers","following_url":"https://api.github.com/users/caward12/following{/other_user}","gists_url":"https://api.github.com/users/caward12/gists{/gist_id}","starred_url":"https://api.github.com/users/caward12/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/caward12/subscriptions","organizations_url":"https://api.github.com/users/caward12/orgs","repos_url":"https://api.github.com/users/caward12/repos","events_url":"https://api.github.com/users/caward12/events{/privacy}","received_events_url":"https://api.github.com/users/caward12/received_events","type":"User","site_admin":false,"name":"Colleen
        Ward","company":"@turingschool","blog":"","location":"Denver, CO","email":"ward.colleen.a@gmail.com","hireable":true,"bio":"Back-End
        Engineering Student","public_repos":39,"public_gists":17,"followers":3,"following":1,"created_at":"2016-08-03T23:33:01Z","updated_at":"2017-05-08T16:39:51Z","private_gists":1,"total_private_repos":0,"owned_private_repos":0,"disk_usage":690,"collaborators":0,"two_factor_authentication":false,"plan":{"name":"free","space":976562499,"collaborators":0,"private_repos":0}}'
  recorded_at: Thu, 11 May 2017 22:48:50 GMT
- request:
    method: get
    uri: https://api.github.com/user/orgs?access_token=<GITHUB_USER_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4855'
      X-Ratelimit-Reset:
      - '1494543503'
      Etag:
      - '"98f0c1b396a4e5d54f4d5fe561d54b44"'
      X-Oauth-Scopes:
      - admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook,
        delete_repo, gist, notifications, repo, user
      X-Accepted-Oauth-Scopes:
      - admin:org, read:org, repo, user, write:org
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 11 May 2017 22:48:51 GMT
- request:
    method: get
    uri: https://api.github.com/user/repos?access_token=<GITHUB_USER_TOKEN>&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4854'
      X-Ratelimit-Reset:
      - '1494543503'
      Etag:
      - W/"e9f3c173cfb2c5bb291118ca0719ea2f"
      X-Oauth-Scopes:
      - admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook,
        delete_repo, gist, notifications, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"id":90675897,"name":"apicurious","full_name":"caward12/apicurious","owner":{"login":"caward12","id":20826865,"avatar_url":"https://avatars3.githubusercontent.com/u/20826865?v=3","gravatar_id":"","url":"https://api.github.com/users/caward12","html_url":"https://github.com/caward12","followers_url":"https://api.github.com/users/caward12/followers","following_url":"https://api.github.com/users/caward12/following{/other_user}","gists_url":"https://api.github.com/users/caward12/gists{/gist_id}","starred_url":"https://api.github.com/users/caward12/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/caward12/subscriptions","organizations_url":"https://api.github.com/users/caward12/orgs","repos_url":"https://api.github.com/users/caward12/repos","events_url":"https://api.github.com/users/caward12/events{/privacy}","received_events_url":"https://api.github.com/users/caward12/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/caward12/apicurious","description":null,"fork":false,"url":"https://api.github.com/repos/caward12/apicurious","forks_url":"https://api.github.com/repos/caward12/apicurious/forks","keys_url":"https://api.github.com/repos/caward12/apicurious/keys{/key_id}","collaborators_url":"https://api.github.com/repos/caward12/apicurious/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/caward12/apicurious/teams","hooks_url":"https://api.github.com/repos/caward12/apicurious/hooks","issue_events_url":"https://api.github.com/repos/caward12/apicurious/issues/events{/number}","events_url":"https://api.github.com/repos/caward12/apicurious/events","assignees_url":"https://api.github.com/repos/caward12/apicurious/assignees{/user}","branches_url":"https://api.github.com/repos/caward12/apicurious/branches{/branch}","tags_url":"https://api.github.com/repos/caward12/apicurious/tags","blobs_url":"https://api.github.com/repos/caward12/apicurious/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/caward12/apicurious/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/caward12/apicurious/git/refs{/sha}","trees_url":"https://api.github.com/repos/caward12/apicurious/git/trees{/sha}","statuses_url":"https://api.github.com/repos/caward12/apicurious/statuses/{sha}","languages_url":"https://api.github.com/repos/caward12/apicurious/languages","stargazers_url":"https://api.github.com/repos/caward12/apicurious/stargazers","contributors_url":"https://api.github.com/repos/caward12/apicurious/contributors","subscribers_url":"https://api.github.com/repos/caward12/apicurious/subscribers","subscription_url":"https://api.github.com/repos/caward12/apicurious/subscription","commits_url":"https://api.github.com/repos/caward12/apicurious/commits{/sha}","git_commits_url":"https://api.github.com/repos/caward12/apicurious/git/commits{/sha}","comments_url":"https://api.github.com/repos/caward12/apicurious/comments{/number}","issue_comment_url":"https://api.github.com/repos/caward12/apicurious/issues/comments{/number}","contents_url":"https://api.github.com/repos/caward12/apicurious/contents/{+path}","compare_url":"https://api.github.com/repos/caward12/apicurious/compare/{base}...{head}","merges_url":"https://api.github.com/repos/caward12/apicurious/merges","archive_url":"https://api.github.com/repos/caward12/apicurious/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/caward12/apicurious/downloads","issues_url":"https://api.github.com/repos/caward12/apicurious/issues{/number}","pulls_url":"https://api.github.com/repos/caward12/apicurious/pulls{/number}","milestones_url":"https://api.github.com/repos/caward12/apicurious/milestones{/number}","notifications_url":"https://api.github.com/repos/caward12/apicurious/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/caward12/apicurious/labels{/name}","releases_url":"https://api.github.com/repos/caward12/apicurious/releases{/id}","deployments_url":"https://api.github.com/repos/caward12/apicurious/deployments","created_at":"2017-05-08T21:55:21Z","updated_at":"2017-05-08T21:56:53Z","pushed_at":"2017-05-11T16:19:09Z","git_url":"git://github.com/caward12/apicurious.git","ssh_url":"git@github.com:caward12/apicurious.git","clone_url":"https://github.com/caward12/apicurious.git","svn_url":"https://github.com/caward12/apicurious","homepage":null,"size":391,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":85982696,"name":"bike-share","full_name":"caward12/bike-share","owner":{"login":"caward12","id":20826865,"avatar_url":"https://avatars3.githubusercontent.com/u/20826865?v=3","gravatar_id":"","url":"https://api.github.com/users/caward12","html_url":"https://github.com/caward12","followers_url":"https://api.github.com/users/caward12/followers","following_url":"https://api.github.com/users/caward12/following{/other_user}","gists_url":"https://api.github.com/users/caward12/gists{/gist_i[...]
- request:
    method: get
    uri: https://api.github.com/user/starred?access_token=<GITHUB_USER_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4853'
      X-Ratelimit-Reset:
      - '1494543503'
      Etag:
      - W/"845019b5a364e8c3e[...]
- request:
    method: get
    uri: https://api.github.com/user/followers?access_token=<GITHUB_USER_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4852'
      X-Ratelimit-Reset:
      - '1494543503'
      Etag:
      - W/"e3c2fc0a362d531[...]
- request:
    method: get
    uri: https://api.github.com/user/following?access_token=<GITHUB_USER_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4851'
      X-Ratelimit-Reset:
      - '1494543503'
      Etag:
      - W/"e1d8b60b3dd9f16[...]
[...]
