    <%= render 'layouts/base_layout' %>
    <div class="col m9 s12">
      <% @user.repos.each do |repo| %>
        <strong><h5><%= repo.name %></h5></strong><br>
        <%= repo.language %>
        <br>
        <br>
        <hr>
      <% end %>
    </div>
  </div>
