<div class="home">
  <div class="container">
    <br>
    <br>
    <h2 class="header center">Github Buddy</h2>
    <div class ="center">
      <%= button_to "Log in with Github", github_login_path, class: "waves-effect waves-light btn" %>
    </div>
  </div>

</div>
