<nav class="nav">
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="right">
        <% if current_user %>
          <li>Hello, <%= current_user.name %></li>
          <li> <%= link_to "Logout", logout_path, method: :delete %>
        <% else  %>
          <li> <%= link_to "Login with Github", github_login_path %></li>
        <% end %>
      </ul>
    </div>
</nav>